main{
    display: flex;
    padding-top: 60px;
    margin: 0 70px;
    margin-bottom: 50px;
    place-content: center;
}


.postSpace{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}
.userProfilBox{
    background-color: #1c1c1e;
    height: 100px;
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.user{
    display: flex;
    align-items: center;
    width: 800px;
}
.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #1e40ff;
}
.user p{
    padding-left: 10px;
}
.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articleBtn{
    display: flex;
    align-items: center;
}
.actions button{
    background-color: #1e40ff;
    color: #fff;
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600px;
    transition: 0.9s ease-in-out;
}
.actions button:hover{
    border: 1px solid #fff;
}
.actions input{
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    height: 25px;
    border-radius: 50px;
    cursor: pointer;
}
.pagesBtn{
    background-color: rgb(0, 140, 255);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
}
.pagesBtn:hover{
    background-color: rgb(3, 112, 201);
}
.postsContainer{
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.iconContainer{
    display: flex;
}
.actionIcon{
    margin: 5px;
    background-color: #e1306c;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.actionIcon:hover{
    transform: scale(1.07);
}
