.postPage{
    display: flex;
    place-content: center;
    padding: 40px;
    
}
.content{
    background: #1a1a1a;
    border-radius: 12px;
    padding: 20px;
    color: #c9c2c2;
    width: 650px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}
.content img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.content span{
    color: #9a9a9a;
}