body {
  background-color: #121212;
  color: #f1f1f1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  padding: 20px;
}

.signupBox {
  background-color: #1e1e1e;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.logo{
  display: flex;
  align-items: center;
  place-content: center;
}
.logo img {
  width: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.form input {
  padding: 12px 15px;
  border-radius: 8px;
  border: none;
  background-color: #2c2c2c;
  color: #f1f1f1;
}

.form input::placeholder {
  color: #aaa;
}

.form button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #3b82f6;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background-color: #2563eb;
}

.form button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.serverMessage {
  color: #ff6b6b;
  margin-bottom: 15px;
}

.backBtn {
  margin-bottom: 15px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
}

.backBtn:hover {
  background-color: #444;
}

.profilContainer {
  position: relative;
  display: inline-block;
}

.profilContainer img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.editBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #3b82f6;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgInput {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}
