.followBtn {
  background-color: #2563eb;
  color: #fff;
  border: 1px solid #2563eb;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.followBtn:hover {
  background-color: #2563eb;
  border: 1px solid #fff;
  color: #fff;
}

.followingBtn {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #fff;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.followingBtn:hover {
  background-color: #2a2a2a;
  border: 1px solid #2563eb;
  color: #fff;
}
