.messageBox{
    background-color: #1c1c1e;
    width: 22%;
    border-radius: 15px;
    margin-top: 20px;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 80px;
    height: 80vh;
    margin-right: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    position: relative;
}
.messageBox .destinateur{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #333;
    padding-left: 10px;
}
.userMetadata{
    display: flex;
    place-content: center;
    flex-direction: column;
    margin-left: 15px;
    text-align: justify;
}
.messageBox .userMetadata p{
    padding: 0;
    margin: 0;
}
.messageBox img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
.messages{
    padding: 10px;
}
.messages .destiBox{
    background-color: #2563eb;
    max-width: 190px;
    border-radius: 10px 10px 10px 0;
    float: left;
    margin-bottom: 15px;
}
.messages .senderBox{
    background-color: #2a2a2a;
    max-width: 190px;
    border-radius: 10px 10px 0px 10px;
    float: right;
    align-self: flex-end;
    margin-bottom: 15px;
}
.messages p{
    padding: 8px;
    margin: 0;
}
.messInput{
    position: fixed;
    bottom: 40px;
    display: flex;
    width: 22%;
    height: 70px;
    margin-bottom: 0;
}
.messInput textarea{
    resize: none;
    border: none;
    text-align: center;
    overflow-y: auto;
    outline: none;
    margin: 5px;
}