.notifs {
  width: 22%;
  border-radius: 15px;
  margin-top: 80px;
  position: fixed;
  right: 20px;
  top: 0;
  height: 85vh;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.notifs::-webkit-scrollbar {
  display: none;
}
.notificationItem {
  background: linear-gradient(145deg, #2f2f33, #26262a);
  padding: 8px 14px;
  margin-bottom: 12px;
  border-radius: 12px;

  display: flex;
  align-items: flex-start;
  gap: 12px;

  transition: all 0.25s ease;
  cursor: pointer;

  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.notificationItem:hover {
  transform: translateY(-2px);
  background: linear-gradient(145deg, #3a3a3f, #2e2e33);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}
.notificationItem p {
  color: #e1e1e1;
  line-height: 1.4;
  font-size: 0.95rem;
  margin: 0;
  word-wrap: break-word;
}.notificationItem strong {
  color: #fff;
}
.notificationItem span {
  display: block;
  margin-top: 5px;
  font-size: 0.85rem;
  color: #9a9a9a;
}
.pp {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.15);
}
.empty {
  text-align: center;
  margin-top: 30px;
  color: #999;
  font-style: italic;
}
