.toastContainer{
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 14px;
    opacity: 0;
    animation: toastIn 0.3s ease forwards, toastOut 0.3s ease forwards 1.7s;
    z-index: 999;
}

@keyframes toastIn{
    from {
        opacity: 0;
        transform: translate(-50%, 10px);
    }
    to{
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
@keyframes toastOut{
    from {
        opacity: 0;
        transform: translate(-50%, 0);
    }
    to{
        opacity: 0;
        transform: translate(-50%, 10px);
    }
}